# Series

In [1]:
import pandas as pd

In [8]:
# 리스트로 시리즈 생성
data = [1, 2, 3, 4, 5]
s1=pd.Series(data)
print(s1)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [12]:
# 인덱스 지정하여 시리즈 생성
data = [1, 2, 3, 4, 5]
index = ['a', 'b', 'c', 'd', 'e']
s2 = pd.Series(data, index=index)
print(s2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [32]:
# 딕셔너리로 시리즈 생성 - 키가 인덱스가 됨
ser = {'a':1, 'b':2, 'c':3, 'd':4}
s3 = pd.Series(ser)
print(s3)

a    1
b    2
c    3
d    4
dtype: int64

In [13]:
population = pd.Series([9776, 2729, 1566, 3158], 
                    index=['서울', '부산', '인천', '대구'])
print(population['서울'])  # 9776 출력
print(population[['서울', '부산']])  # 서울과 부산의 데이터만 선택

9776
서울    9776
부산    2729
dtype: int64

In [ ]:
ser2=pd.Series([10,'banana'])
type(ser2),ser2 # 문자 있어서 문자형으로 데이터타입 바뀜

(pandas.core.series.Series,
 0        10
 1    banana
 dtype: object)

In [16]:
population.info()

<class 'pandas.core.series.Series'>
Index: 4 entries, 서울 to 대구
Series name: None
Non-Null Count  Dtype
--------------  -----
4 non-null      int64
dtypes: int64(1)
memory usage: 236.0+ bytes

In [34]:

s3.iloc[0],s3.loc['a']

(np.int64(1), np.int64(1))

# DataFrame

In [36]:
# 리스트로 데이터프레임 생성
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]

df = pd.DataFrame(data)
print(df)

# 열 이름 지정하여 생성
df = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(df)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [38]:
scientists = pd.DataFrame({
        "Name": ["Rosaline Franklin", "William Gosset"],
        "Occupation": ["Chemist", "Statistician"],
        "Born": ["1920-07-25", "1876-06-13"],
        "Died": ["1958-04-16", "1937-10-16"],
        "Age": [37, 61],
})
scientists

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [40]:
scientists.columns

Index(['Name', 'Occupation', 'Born', 'Died', 'Age'], dtype='object')

In [43]:
scientists.loc[0]

Name          Rosaline Franklin
Occupation              Chemist
Born                 1920-07-25
Died                 1958-04-16
Age                          37
Name: 0, dtype: object

In [45]:
scientists.index=['Rosaline Franklin','William Gosset']

In [47]:
scientists.loc['William Gosset']

Name          William Gosset
Occupation      Statistician
Born              1876-06-13
Died              1937-10-16
Age                       61
Name: William Gosset, dtype: object