# 파일 읽기

In [ ]:
# abc 폴더는 만들어줘야함 -> 폴더 만드는 권한은 없음/파일과 다름
with open("abc/text.txt",'w') as f:
    f.write('hello')

In [6]:
 f = open("abc/text.txt",'r')
 f.read()
 f.close()

In [28]:
# abc 폴더는 만들어줘야함 -> 폴더 만드는 권한은 없음/파일과 다름
with open("abc/text1.txt",'w',encoding="utf-8") as f:
    f.write('하이요\n')
    f.write('졸리다\n')

In [30]:
with open("abc/text1.txt",'r',encoding="utf-8") as f:
    txtfile=f.read()
    print(txtfile)
    f.close()

하이요
졸리다
추가합니다
야호

In [29]:
with open("abc/text1.txt",'a',encoding="utf-8") as f:
    f.write('추가합니다\n')
    f.write('야호')

In [35]:
with open("abc/text1.txt", "r", encoding="utf-8") as file:
    for i in range(4):
        line = file.readline()
        print(line.strip())

하이요
졸리다
추가합니다
야호

In [33]:
with open("abc/text1.txt", "r", encoding="utf-8") as file:
    while True:
        line = file.readline()
        if not line:
            break
        print(line.strip())

하이요
졸리다
추가합니다
야호

In [38]:
with open("abc/text1.txt", "r", encoding="utf-8") as file:
    lines = file.readlines()

for line in lines:
    print(line.strip())

하이요
졸리다
추가합니다
야호

# 피클, 직렬화 /  역직렬화

In [40]:
import pickle

# 직렬화할 데이터
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('abc/data.pickle', 'wb') as f:
    pickle.dump(data, f)

# 파일에서 역직렬화하여 읽기
with open('abc/data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [41]:
import json

In [60]:
with open('abc/data.json', 'w') as f:
    json.dump(data, f, ensure_ascii=False)

In [61]:
with open('abc/data.json', 'r') as f:
    loaded_txt = json.load(f)

print(loaded_txt)

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [ ]:
import csv
data = ({'name':['bob', 'alice'], 'age':[20, 15]})
# data = [['name','age'], ['bob', 20], ['alice', 15]]
data

{'name': ['bob', 'alice'], 'age': [20, 15]}

In [ ]:
# 직렬화하여 파일에 저장
with open('abc/data.csv', 'w') as f:
    wrt = csv.writer(f)
    wrt.writerows(data)
import pandas as pd

df = pd.DataFrame(data)
# df = pd.DataFrame(data[1:], columns=data[0]) # data[1:]
df.to_csv('abc/data_df.csv')

In [76]:
import pandas as pd

df = pd.DataFrame(data)
df.to_csv('abc/data_df_csv')

In [77]:
pd.read_csv('abc/data_df_csv')

   Unnamed: 0   name  age
0           0    bob   20
1           1  alice   15