리스트는 1variable에 있음

# 연산자

-비식별 연산자
1. 대입연산: assign, 할당 '='
   변수 = 값
   자기자신에게 대입하는 연산 > +=, *= 등 > ()가 자동으로 적용

3. 수치연산: 사칙연산
   add() ->특별메소드를 정의하고 객체에서 쓸 수 있다
   숫자일때는 기본연산
   형변환이 자동으로 일어난다 int+float > float, int/int > float

4. 비교연산

   '='와 '=='는 다르다 (=는 대입연산 ==는 비교연산)
   '!=', '>=', '<='
   리스트의 비교 '==' -> 내용이 같은가?
   리스트 주소의 비교 'is' -> 주소가 같은가?
   리스트의 주소 id()가 같은가? -> 메모리 영역이 같은가?
   
6. 논리연산

   and, or, not
   &, &&, |, !

-식별 연산자
1. is, is not
2.

In [2]:
a=5
a += 5
a

10

In [3]:
b=2
a *= 2+b

40

In [9]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

students[0]['total'] = students[0]['kor']+students[0]['eng']+students[0]['math']
students[0]['avg'] = students[0]['total'] / 3
students[0]['total'], students[0]['avg']

(255, 85.0)

In [8]:
students[1]['total'] = students[1]['kor']+students[1]['eng']+students[1]['math']
students[1]['avg'] = students[1]['total'] / 3
students[1]['total'], students[1]['avg']

(265, 88.33333333333333)

In [10]:
students[2]['total'] = students[2]['kor']+students[2]['eng']+students[2]['math']
students[2]['avg'] = students[2]['total'] / 3
students[2]['total'], students[2]['avg']

(240, 80.0)

In [17]:
#for 문에서는 리스트의 요소들을 하나씩 꺼낼 수 있다
for i in students:
    i['total'] = i['kor']+i['eng']+i['math']
    i['total']
    i['avg'] = i['total'] / 3
    print(i['total'], i['avg'])

255 85.0
265 88.33333333333333
240 80.0

In [20]:
#students order
for i in students: #students[0]의 자료를 꺼내고 끝날때까지(students[2]) 반복
    rank = 1
    for v in students:
        if v['total'] > i['total']: 
            rank += 1
    i['order'] = rank
    print(i['name'], i['order'])

김철수 2
박제동 1
홍길동 3

In [21]:
for i in students:
    print(i['name'],i['total'],i['avg'], i['order'])

김철수 255 85.0 2
박제동 265 88.33333333333333 1
홍길동 240 80.0 3

In [22]:
lunch1 = ['주먹밥']
lunch2 = ['주먹밥']
lunch1==lunch2 #값의 비교

True

In [23]:
id(lunch2)==id(lunch1)

False

In [25]:
lunch1 is lunch2 #주소를 비교

False

type(),
sorted(),
dir(),
id(),
len(),
sum(), max(), min()

In [26]:
type(lunch1)

list

In [32]:
sorted(students, key=lambda x: x['avg'], reverse=True)

[{'num': '2',
  'name': '박제동',
  'kor': 90,
  'eng': 85,
  'math': 90,
  'total': 265,
  'avg': 88.33333333333333,
  'order': 1},
 {'num': '1',
  'name': '김철수',
  'kor': 90,
  'eng': 80,
  'math': 85,
  'total': 255,
  'avg': 85.0,
  'order': 2},
 {'num': '3',
  'name': '홍길동',
  'kor': 80,
  'eng': 80,
  'math': 80,
  'total': 240,
  'avg': 80.0,
  'order': 3}]

In [40]:
lista=[1,2,3,4,5,6,7,8,9,10]
sum(lista,start=0)

55

In [41]:
max(lista)

10

In [44]:
a = [1,3,5,4,2]
sorted(a)

[1, 2, 3, 4, 5]

In [54]:
b =[1,3,5,7,9]
c = b.pop(0)
b.append(c)
b

[3, 5, 7, 9, 1]

In [55]:
d = ['Life','is','too','short']
q = ' '.join(d)
print(q)

Life is too short

In [ ]:
리스트의 메소드
메서드	사용 예시	설명
append(x)	lst.append(4)	맨 뒤에 x 추가
insert(i, x)	lst.insert(1, "a")	i 위치에 x 삽입
extend(iter)	lst.extend([4, 5])	리스트에 여러 값 추가
remove(x)	lst.remove("a")	x와 일치하는 첫 항목 삭제
pop()	lst.pop()	마지막 항목 제거하고 반환
pop(i)	lst.pop(0)	i번째 항목 제거하고 반환
clear()	lst.clear()	리스트 전체 비우기
index(x)	lst.index("a")	x의 위치(인덱스) 반환
count(x)	lst.count("a")	x의 개수 세기
sort()	lst.sort()	오름차순 정렬 (원본 변경)
sort(reverse=True)	lst.sort(reverse=True)	내림차순 정렬
reverse()	lst.reverse()	항목 순서 뒤집기
copy()	lst2 = lst.copy()	리스트 복사

# 딕셔너리

{키:값, 키:값}

In [56]:
person = {'name':'alice', 'age':25, 'city':'seoul'}

{'name': 'alice', 'age': 25, 'city': 'seoul'}

In [58]:
person2 = {'name':'hj', 'age':29, 'city':'Py'}
person2

{'name': 'hj', 'age': 29, 'city': 'Py'}

In [59]:
person['name'] = 'bob'
person

{'name': 'bob', 'age': 25, 'city': 'seoul'}

In [ ]:
person = {'name':'', 'age':, 'city':''}
person

In [60]:
type(person)

dict

In [61]:
dir(person)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [64]:
keys = person.keys()
for k in keys:
    print(k)

name
age
city

In [66]:
items = person.items()
for i in items:
    print(i)

('name', 'bob')
('age', 25)
('city', 'seoul')

In [67]:
values = person.values()
for v in values:
    print(v)

bob
25
seoul

In [68]:
# update는 사전에 사전을 업데이트한다 // 키가 다르면 더해짐
person.update(person2)
person

{'name': 'hj', 'age': 29, 'city': 'Py'}

In [ ]:
#person3를 추가한다면 키가 같으므로 값이 업데이트

In [69]:
dic={1:2, 2:3,3:4}
dic.update(person2)
dic

{1: 2, 2: 3, 3: 4, 'name': 'hj', 'age': 29, 'city': 'Py'}

In [70]:
dic.clear()
dic

{}

# 리스트 버전

In [86]:
store_name = '천억커피'
menu = ['에스프레소', '라떼', '아메리카노']
price = [3000, 5000, 4000]

print('-'*44)
print(f'어서오세요 {store_name}에 온 것을 환영')

for i in range(len(menu)):
    print(f'{i+1}.{menu[i]}:{price[i]}')
    
ord_num = int(input('주문할 메뉴번호 입력: '))
qty = int(input('주문할 수량 입력: '))
total = qty*price[ord_num-1]
menut = menu[ord_num-1]

print(f'주문하신 메뉴는 {menut}입니다. 결제하실 금액은 {total:,}원')
print('-'*44)

--------------------------------------------
어서오세요 천억커피에 온 것을 환영
1.에스프레소:3000
2.라떼:5000
3.아메리카노:4000

주문할 메뉴번호 입력:  1
주문할 수량 입력:  2

주문하신 메뉴는 에스프레소입니다. 결제하실 금액은 6,000원
--------------------------------------------

# 사전형 버전

In [95]:
store_name = '천억커피'
menu = [
    {'name':'에스프레소', 'price': 3000},
    {'name':'아메리카노', 'price': 4000 },
    {'name':'라떼', 'price': 5000},
    {'name':'말차', 'price': 7000}
]

for i, m in enumerate(menu):
    #print(i+1,m)
    print(f'{i+1}.{m['name']},{m['price']}')
    
ord_num = int(input('주문할 메뉴번호 입력: '))-1
qty = int(input('주문할 수량 입력: '))
total = qty*menu[ord_num]['price']
menut = menu[ord_num]['name']


print(f'주문하신 메뉴는 {menut}입니다. 결제하실 금액은 {total:,}원')
print('-'*44)

1.에스프레소,3000
2.아메리카노,4000
3.라떼,5000
4.말차,7000

주문할 메뉴번호 입력:  1
주문할 수량 입력:  2

주문하신 메뉴는 에스프레소입니다. 결제하실 금액은 6,000원
--------------------------------------------

In [117]:
print('='*44)
store_name = '빵꾸똥꾸 문구야'
print(f'\t{store_name}\n\t에 오신 것을 환영합니다!')
print('='*44)

print(f'{"번호":<5} {"제품명":<10} {"가격":>6}')
print('-'*44)

menu = [
    {'name':'샤프', 'price': 6000},
    {'name':'볼펜', 'price': 3000 },
    {'name':'지우개', 'price': 1000},
    {'name':'화이트', 'price': 3000},
    {'name':'공책', 'price': 3500}
]

# 내용출력
for i, m in enumerate(menu):
    print(f'{i+1:<5} {m["name"]:<10} {m["price"]:>6,}원')

print('-'*44)

ord_num = int(input('주문하실 제품 번호를 선택하세요'))-1
qty = int(input('주문할 수량 입력: '))
total = qty*menu[ord_num]['price']
menut = menu[ord_num]['name']

print(f'주문하신 메뉴는 {menut}입니다. 결제하실 금액은 {total:,}원')
print('-'*44)

============================================
	빵꾸똥꾸 문구야
	에 오신 것을 환영합니다!
============================================
번호    제품명            가격
--------------------------------------------
1     샤프          6,000원
2     볼펜          3,000원
3     지우개         1,000원
4     화이트         3,000원
5     공책          3,500원
--------------------------------------------

주문하실 제품 번호를 선택하세요 2
주문할 수량 입력:  2

주문하신 메뉴는 볼펜입니다. 결제하실 금액은 6,000원
--------------------------------------------

In [133]:
print('\n' + '=' * 44)
print(f'{"고객님이 선택하신 제품은":^25}')

print(f'\t{menut}{qty}개입니다')


a = input('더 주문하시겠습니다? (y/n)')
if a =='n':
    print(f'주문하신 금액은 {total}입니다')
    input('포인트를 적립하시겠습니까? (y/n)')
    
print('=' * 44)

============================================
      고객님이 선택하신 제품은
	볼펜2개입니다

더 주문하시겠습니다? (y/n) n

주문하신 금액은 6000입니다

포인트를 적립하시겠습니까? (y/n) n

============================================

In [134]:
print('='*44)
print(f'\t고객님이 선택하신 제품은\n\t{menut}입니다. \n\t몇 개를 드릴까요?\n')
qty = int(input('\t수량을 숫자로 입력하세요: '))
print('='*44)

============================================
	고객님이 선택하신 제품은
	볼펜입니다.
	몇 개를 드릴까요?

	수량을 숫자로 입력하세요:  2

============================================

In [138]:
print('='*44)
store_name = '빵꾸똥꾸 문구야'
print(f'\t{store_name}\n\t에 오신 것을 환영합니다!')
print('='*44)

print(f'{"번호":<5} {"제품명":<10} {"가격":>6}')
print('-'*44)

menu = [
    {'name':'샤프', 'price': 6000},
    {'name':'볼펜', 'price': 3000 },
    {'name':'지우개', 'price': 1000},
    {'name':'화이트', 'price': 3000},
    {'name':'공책', 'price': 3500}
]

# 내용출력
for i, m in enumerate(menu):
    print(f'{i+1:<5} {m["name"]:<10} {m["price"]:>6,}원')

print('-'*44)

ord_num = int(input('주문하실 제품 번호를 선택하세요'))-1
qty = int(input('주문할 수량 입력: '))
total = qty*menu[ord_num]['price']
menut = menu[ord_num]['name']

print(f'주문하신 메뉴는 {menut}입니다. 결제하실 금액은 {total:,}원')
print('-'*44)



print('='*44)
print(f'\t고객님이 선택하신 제품은\n\t{menut}입니다. \n\t몇 개를 드릴까요?\n')
qty = int(input('\t수량을 숫자로 입력하세요: '))
print('='*44)



print('\n' + '=' * 44)
print(f'{"고객님이 선택하신 제품은":^25}')

print(f'\t{menut}{qty}개입니다')


a = input('더 주문하시겠습니까? (y/n)')
if a =='n':
    print(f'주문하신 금액은 {total}입니다')
    input('포인트를 적립하시겠습니까? (y/n)')
    
print('=' * 44)



print('='*44)
phone=input('전화번호를 입력해 주세요:')

user_id=f'user_{phone[-4:]}'

point=500

print('='*44)
print(f'{user_id} 고객님의 적립포인트는 {point:,}점 입니다.')
print('='*44)



print('='*44)
print(f'{"결제가 완료되었습니다.":^37}')
print(f'{"잠시만 기다려주세요.":^37}')
print(f'{"감사합니다.":^40}')
print('='*44)

============================================
	빵꾸똥꾸 문구야
	에 오신 것을 환영합니다!
============================================
번호    제품명            가격
--------------------------------------------
1     샤프          6,000원
2     볼펜          3,000원
3     지우개         1,000원
4     화이트         3,000원
5     공책          3,500원
--------------------------------------------

주문하실 제품 번호를 선택하세요 4
주문할 수량 입력:  5

주문하신 메뉴는 화이트입니다. 결제하실 금액은 15,000원
--------------------------------------------
============================================
	고객님이 선택하신 제품은
	화이트입니다.
	몇 개를 드릴까요?

	수량을 숫자로 입력하세요:  5

============================================

============================================
      고객님이 선택하신 제품은
	화이트5개입니다

더 주문하시겠습니까? (y/n) n

주문하신 금액은 15000입니다

포인트를 적립하시겠습니까? (y/n) y

============================================
============================================

전화번호를 입력해 주세요: 1997

============================================
user_1997 고객님의 적립포인트는 500점 입니다.
============================================
============================================
            결제가 완료되었습니다.
             잠시만 기다려주세요.
                 감사합니다.
============================================

In [138]:
print('='*44)
store_name = '빵꾸똥꾸 문구야'
print(f'\t{store_name}\n\t에 오신 것을 환영합니다!')
print('='*44)

print(f'{"번호":<5} {"제품명":<10} {"가격":>6}')
print('-'*44)

menu = [
    {'name':'샤프', 'price': 6000},
    {'name':'볼펜', 'price': 3000 },
    {'name':'지우개', 'price': 1000},
    {'name':'화이트', 'price': 3000},
    {'name':'공책', 'price': 3500}
]

# 내용출력
for i, m in enumerate(menu):
    print(f'{i+1:<5} {m["name"]:<10} {m["price"]:>6,}원')

print('-'*44)

ord_num = int(input('주문하실 제품 번호를 선택하세요'))-1
qty = int(input('주문할 수량 입력: '))
total = qty*menu[ord_num]['price']
menut = menu[ord_num]['name']

print(f'주문하신 메뉴는 {menut}입니다. 결제하실 금액은 {total:,}원')
print('-'*44)



print('='*44)
print(f'\t고객님이 선택하신 제품은\n\t{menut}입니다. \n\t몇 개를 드릴까요?\n')
qty = int(input('\t수량을 숫자로 입력하세요: '))
print('='*44)



print('\n' + '=' * 44)
print(f'{"고객님이 선택하신 제품은":^25}')

print(f'\t{menut}{qty}개입니다')


a = input('더 주문하시겠습니까? (y/n)')
if a =='n':
    print(f'주문하신 금액은 {total}입니다')
    input('포인트를 적립하시겠습니까? (y/n)')
    
print('=' * 44)



print('='*44)
phone=input('전화번호를 입력해 주세요:')

user_id=f'user_{phone[-4:]}'

point=500

print('='*44)
print(f'{user_id} 고객님의 적립포인트는 {point:,}점 입니다.')
print('='*44)



print('='*44)
print(f'{"결제가 완료되었습니다.":^37}')
print(f'{"잠시만 기다려주세요.":^37}')
print(f'{"감사합니다.":^40}')
print('='*44)

============================================
	빵꾸똥꾸 문구야
	에 오신 것을 환영합니다!
============================================
번호    제품명            가격
--------------------------------------------
1     샤프          6,000원
2     볼펜          3,000원
3     지우개         1,000원
4     화이트         3,000원
5     공책          3,500원
--------------------------------------------

주문하실 제품 번호를 선택하세요 4
주문할 수량 입력:  5

주문하신 메뉴는 화이트입니다. 결제하실 금액은 15,000원
--------------------------------------------
============================================
	고객님이 선택하신 제품은
	화이트입니다.
	몇 개를 드릴까요?

	수량을 숫자로 입력하세요:  5

============================================

============================================
      고객님이 선택하신 제품은
	화이트5개입니다

더 주문하시겠습니까? (y/n) n

주문하신 금액은 15000입니다

포인트를 적립하시겠습니까? (y/n) y

============================================
============================================

전화번호를 입력해 주세요: 1997

============================================
user_1997 고객님의 적립포인트는 500점 입니다.
============================================
============================================
            결제가 완료되었습니다.
             잠시만 기다려주세요.
                 감사합니다.
============================================

In [138]:
print('='*44)
store_name = '빵꾸똥꾸 문구야'
print(f'\t{store_name}\n\t에 오신 것을 환영합니다!')
print('='*44)

print(f'{"번호":<5} {"제품명":<10} {"가격":>6}')
print('-'*44)

menu = [
    {'name':'샤프', 'price': 6000},
    {'name':'볼펜', 'price': 3000 },
    {'name':'지우개', 'price': 1000},
    {'name':'화이트', 'price': 3000},
    {'name':'공책', 'price': 3500}
]

# 내용출력
for i, m in enumerate(menu):
    print(f'{i+1:<5} {m["name"]:<10} {m["price"]:>6,}원')

print('-'*44)

ord_num = int(input('주문하실 제품 번호를 선택하세요'))-1
qty = int(input('주문할 수량 입력: '))
total = qty*menu[ord_num]['price']
menut = menu[ord_num]['name']

print(f'주문하신 메뉴는 {menut}입니다. 결제하실 금액은 {total:,}원')
print('-'*44)



print('='*44)
print(f'\t고객님이 선택하신 제품은\n\t{menut}입니다. \n\t몇 개를 드릴까요?\n')
qty = int(input('\t수량을 숫자로 입력하세요: '))
print('='*44)



print('\n' + '=' * 44)
print(f'{"고객님이 선택하신 제품은":^25}')

print(f'\t{menut}{qty}개입니다')


a = input('더 주문하시겠습니까? (y/n)')
if a =='n':
    print(f'주문하신 금액은 {total}입니다')
    input('포인트를 적립하시겠습니까? (y/n)')
    
print('=' * 44)



print('='*44)
phone=input('전화번호를 입력해 주세요:')

user_id=f'user_{phone[-4:]}'

point=500

print('='*44)
print(f'{user_id} 고객님의 적립포인트는 {point:,}점 입니다.')
print('='*44)



print('='*44)
print(f'{"결제가 완료되었습니다.":^37}')
print(f'{"잠시만 기다려주세요.":^37}')
print(f'{"감사합니다.":^40}')
print('='*44)

============================================
	빵꾸똥꾸 문구야
	에 오신 것을 환영합니다!
============================================
번호    제품명            가격
--------------------------------------------
1     샤프          6,000원
2     볼펜          3,000원
3     지우개         1,000원
4     화이트         3,000원
5     공책          3,500원
--------------------------------------------

주문하실 제품 번호를 선택하세요 4
주문할 수량 입력:  5

주문하신 메뉴는 화이트입니다. 결제하실 금액은 15,000원
--------------------------------------------
============================================
	고객님이 선택하신 제품은
	화이트입니다.
	몇 개를 드릴까요?

	수량을 숫자로 입력하세요:  5

============================================

============================================
      고객님이 선택하신 제품은
	화이트5개입니다

더 주문하시겠습니까? (y/n) n

주문하신 금액은 15000입니다

포인트를 적립하시겠습니까? (y/n) y

============================================
============================================

전화번호를 입력해 주세요: 1997

============================================
user_1997 고객님의 적립포인트는 500점 입니다.
============================================
============================================
            결제가 완료되었습니다.
             잠시만 기다려주세요.
                 감사합니다.
============================================

In [140]:
print('='*44)
space=' '*7
store_name = '빵꾸똥꾸 문구야'
print(f'\t{space}{store_name}')
print(f'{"에 오신 것을 환영합니다!":>25}')
print('='*44)

print(f'{"번호":<5} {"제품명":<10} {"가격":>6}')
print('-'*44)

menu = [
    {'name':'샤프', 'price': 6000},
    {'name':'볼펜', 'price': 3000 },
    {'name':'지우개', 'price': 1000},
    {'name':'화이트', 'price': 3000},
    {'name':'공책', 'price': 3500}
]

# 메뉴 출력
for i, m in enumerate(menu):
    print(f'{i+1:<5} {m["name"]:<10} {m["price"]:>6,}원')

print('-'*44)

# 주문 입력
ord_num = int(input('주문하실 제품 번호를 선택하세요: ')) - 1
menut = menu[ord_num]['name']

print('='*44)
print(f'\t고객님이 선택하신 제품은\n\t{menut}입니다. \n\t몇 개를 드릴까요?\n')
qty = int(input('\t수량을 숫자로 입력하세요: '))
total = qty * menu[ord_num]['price']

# 확인 및 추가 주문 여부
print('='*44)
print(f'{"고객님이 선택하신 제품은":^37}')
print(f'\t\t{menut} {qty}개입니다')

a = input('더 주문하시겠습니까? (y/n): ')

if a.lower() == 'n':
    print(f'\n주문하신 금액은 {total:,}원입니다')
    print('='*44)
    input('포인트를 적립하시겠습니까? (y/n): ')

# 고객정보 및 포인트
print('='*44)
phone = input('전화번호를 입력해 주세요: ')
user_id = f'user_{phone[-4:]}'
point = 500
print('='*44)
print(f'{user_id} 고객님의 적립포인트는 {point:,}점 입니다.')
print('='*44)

# 결제 완료 화면
print(f'{"결제가 완료되었습니다.":^37}')
print(f'{"잠시만 기다려주세요.":^37}')
print(f'{"감사합니다.":^40}')
print('='*44)

============================================
	       빵꾸똥꾸 문구야
           에 오신 것을 환영합니다!
============================================
번호    제품명            가격
--------------------------------------------
1     샤프          6,000원
2     볼펜          3,000원
3     지우개         1,000원
4     화이트         3,000원
5     공책          3,500원
--------------------------------------------

주문하실 제품 번호를 선택하세요:  5

============================================
	고객님이 선택하신 제품은
	공책입니다.
	몇 개를 드릴까요?

	수량을 숫자로 입력하세요:  1

============================================
            고객님이 선택하신 제품은
		공책 1개입니다

더 주문하시겠습니까? (y/n):  n

주문하신 금액은 3,500원입니다
============================================

포인트를 적립하시겠습니까? (y/n):  y

============================================

전화번호를 입력해 주세요:  ert

============================================
user_ert 고객님의 적립포인트는 500점 입니다.
============================================
            결제가 완료되었습니다.
             잠시만 기다려주세요.
                 감사합니다.
============================================