# 튜플

튜플은 괄호 생략 가능
숫자요소 하나만 있으면 ',' 필수

In [1]:
a = tuple()
a, type(a)

((), tuple)

In [3]:
b=(2,)
b, type(b)

((2,), tuple)

In [4]:
c =(1,2,(3,4),'5',[1,2,3])
c, type(c)

((1, 2, (3, 4), '5', [1, 2, 3]), tuple)

In [15]:
#s = 'hello'
s = 'hi'
a,b = s
a,b

('h', 'i')

In [17]:
s = 'hello'
a,*b, c= s #unpacking * -rest(나머지 다 가짐)
a,b,c

('h', ['e', 'l', 'l'], 'o')

In [18]:
student = ('Bob', 20, 'freshman') #packing
student

('Bob', 20, 'freshman')

In [21]:
name, age, grade = student  #unpacking
f' name is {name}, age is {age}, grade is {grade}'

' name is Bob, age is 20, grade is freshman'

In [25]:
#mission

x=1
y=2

c = (y,x)
x,y = c
x,y

#x=2,y=1

(2, 1)

In [ ]:
x,y = y,x # packing, unpacking tuple

In [28]:
def func_a(a,b,c):
    print(a,b,c)
    return c,b,a

result = func_a(5,4,3)
result

5 4 3

(3, 4, 5)

In [31]:
d,c,b = func_a(1,2,3)
d

1 2 3

3

In [32]:
# tuple 값을 바꾸려면 리스트로 형변환

name_tuple = ('가연','지훈','지희')
a = list(name_tuple)

['가연', '지훈', '지희']

In [36]:
name_tuple = ('가연','지훈','지희')
a = list(name_tuple)
a.append('유석')
a

['가연', '지훈', '지희', '유석']

In [37]:
dir(name_tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [39]:
# __add__ +
# __mul__*

name_tuple.__mul__(2), name_tuple.__add__(name_tuple)

(('가연', '지훈', '지희', '가연', '지훈', '지희'), ('가연', '지훈', '지희', '가연', '지훈', '지희'))

In [44]:

name_tuple.__mul__(2)

('가연', '지훈', '지희', '가연', '지훈', '지희')

In [48]:
ab = a,"b"
c = name_tuple.__add__(ab)
c

('가연', '지훈', '지희', ['가연', '지훈', '지희', '유석'], 'b')

In [49]:
range(len(c))

range(0, 5)

In [50]:
c[4]

'b'

# 집합

1. set([]), {}
2. 중복이안된다, 순서도 없고 키도없다
3. 속도가 빠르다, 해싱을 하는자료형

In [52]:
s = set([1,2,3])
s

{1, 2, 3}

In [55]:
s1 = {1,2,3}
s1, type(s1)

({1, 2, 3}, set)

In [59]:
L2 = [1,2,3,1,2,3]
a = set(L2)
L3 = L2 + [4,5,6]
L3
L2.append([4,5,6])
L2

[1, 2, 3, 1, 2, 3, [4, 5, 6]]

In [60]:
hash('hi') #해시코드

4745100072004033760

In [72]:
L1 = [1,2,3]
# hash(L1)  ## 셋은 해싱 불가능하지만 요소는 가능해야함(안에 리스트X)

In [62]:
hash((1,2,3))

529344067295497451

# 집합연산

1. 교집합 &, intersection()
2. 합집합 |,union
3. 차집합 -, difference

In [64]:
s = set([1,2,3,4])
x = {2,3,4}
y = {3,4,5}

x.intersection(y)

{3, 4}

In [65]:
x.union(y)

{2, 3, 4, 5}

In [67]:
y.difference(x)

{5}

In [69]:
s.difference(y)

{1, 2}

In [71]:
s|y

{1, 2, 3, 4, 5}

In [73]:
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]
a = numbers[0]
b = numbers[-1]
a+b

110

In [77]:
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
c2 = colors[3:-2]
c2

['yellow', 'purple']

In [79]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]

list_a[2][1]

'korean'

In [109]:
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]

for s in list_a:
    for i in s:
        if i == "korean": #코리안 나올때까지 돌림 - 루프이용
            print(i)

korean

In [82]:
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_c = list_a+list_b
list_c

[1, 2, 3, 4, 5, 6]

In [83]:
tuple_a = ("apple", "banana", "cherry")
a = list(tuple_a)
a[1]="blueberry"
a

['apple', 'blueberry', 'cherry']

In [84]:
a = 5
b = 10
c = 15
tuple_a= {a,b,c,}
tuple_a

{5, 10, 15}

In [88]:
numbers = (92, 89, 72, 31, 71, 33, 19)
m = list(numbers)
mm = sorted(m)
mm[0]+mm[-1]

111

In [103]:
name: "Alice"
age: 24
major: "Computer Science"
student = {"name": "Alice", "age": 24, "major":"Computer Science"}

for k, v in student.items():
    print(f"키: {k}, 값: {v}")

키: name, 값: Alice
키: age, 값: 24
키: major, 값: Computer Science

In [99]:
student['age'] = 26
student

{'name': 'Alice', 'age': 26, 'major': 'Computer Science'}

In [106]:
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}
name_list = []
age_tuple = ()

for i in range(len(students)):
    abc="student" + str(i+1)
    name_list.append(students[abc]["name"])
    age_tuple += (students[abc]["age"],)


print(name_list)
print(age_tuple)

['Alice', 'Bob', 'Charlie']
(24, 22, 23)

In [112]:
name_list = []
age_list = []

students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}

for key in students.keys:
    sk = students[key]
    name_list.append(sk["name"])
    age_list.append(sk['age'])

age_tuple=tuple(age_list )
name_list  
age_tuple

TypeError: 'builtin_function_or_method' object is not iterable