# 함수

1. 인자 = 매개변수, 입력,파라미터
2. 반환값 = 리턴값, 결과값
3. 함수이름
4. 함수정의 -> 호출

In [8]:
def my_func():
    print('hello world')
    return 'bye'
my_func()

hello world

'bye'

In [9]:
my_func_var = my_func()
print(my_func_var)

hello world
bye

In [10]:
my_func_var

'bye'

# 입력값이 있는 함수

In [13]:
def my_cal(x):
    print(f'{x}를 계산합니다.')
my_cal(10)

10를 계산합니다.

In [14]:
def my_cal1(x):
    print(f'{x}를 계산합니다.')
    y = x*20
    return y
my_cal1(10)

10를 계산합니다.

200

In [17]:
def my_cal2(x,y):
    print(f'{x}와 {y}를 계산합니다.')
    add_result= x+y
    mul_result= x*y    
    return add_result,mul_result
my_cal2(10,5) #함수의 결과는 튜플

10와 5를 계산합니다.

(15, 50)

In [19]:
a,b=my_cal2(10,5)
b

10와 5를 계산합니다.

50

In [ ]:
## 입력값의 타입: 수치형 vs (리스트) 객체형

수치형: 값에 의한 전닿 call by value
객체형: 값 (참조)의 전달 call by reference > 같은 객체를 다룬다

In [20]:
def my_cal3(a,lst):
    a +=1
    lst.append(a)
    return a
my_cal3(10,[])

11

In [21]:
num = 10
lst_num = [1,2,'12']
print(f'before:{num},{lst_num}')

my_cal3(num,lst_num)
print(f'after:{num},{lst_num}')

before:10,[1, 2, '12']
after:10,[1, 2, '12', 11]

키워드 매개변수: 함수의 매개변수 목록은 변수명이 매개변수명이다
매개변수명을 이용한 호출은 매개변수 순서와 무관하다

In [23]:
my_cal3(lst=lst_num,a=num,)

11

In [26]:
# 기본값, 기본인자
def greeting(name,greeting='hello'): # 인삿말에 아무 입력 없으면 헬로우
    print(f'{name}님 {greeting}!')

greeting('alice','good afternoon')

alice님 good afternoon!

In [27]:
# 가변인자
def sum_all(*args): #요소 여러개 넣어줄때 요소앞에 *
    return sum(args)
sum_all(1,2,3,4,5,6,7,8,9)

45

In [29]:
def sum_all(arg1,arg2,*args): #요소 1,2는 꼭 필요할때  #매개변수의 순서가 중요(args가 앞으로 오면 X)
    result = arg1+arg2+sum(args) #여기서 args는 튶플
    return result
sum_all(1,2,3)

6

In [34]:
## **kargs
def print_info(**kargs):
    for k,v in kargs.items():
        print(f'{k}: {v}')
print_info(name='Hong', age='20', city='Seoul')

name: Hong
age: 20
city: Seoul

# 요일구하는 함수 정의
1. 입력: year, month, day
2. 출력: '월요일'
3. 함수명: 요일찾기()

In [49]:
# 날짜 - 연,월,일  year=2025 month=06, day=05
total_days = 0
year=2025
month=6
days=5
total_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일

for i in range(1,year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if i%400 == 0:
        total_days += 366
    elif i%100 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)
#월일수 입력한 월 -1 * 30
#월별 일수
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
    total_days += month_days[m]

#올해가 윤년인지
if month>+3 :
    if year%400 == 0:
        total_days += 1
    elif year%100 == 0:
        total_days += 0
    elif year%4 == 0:
        total_days += 1
    else:
        total_days += 0
        
print(total_days)

#일수 입력한 일
total_days += days

print(total_days)
rdays = total_days%7
if rdays ==0:
    print('일요일')
elif rdays ==1:
    print('월요일')
elif rdays ==2:
    print('화요일')
elif rdays ==3:
    print('수요일')
elif rdays ==4:
    print('목요일')
elif rdays ==5:
    print('금요일')
else:
    print('토요일')

739251
739402
739407
목요일

In [ ]:

total_days=0
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
def ycheck(year):
    total_days=0
    for i in range(1,year):
        if i%400 == 0:
             total_days += 366
        elif i%100 == 0:
             total_days += 365
        elif i%4 == 0:
             total_days += 366
        else:
             total_days += 365
    return total_days

def mcheck(month,total_days):
    for m in range(1,month):
        total_days += month_days[m]
        if month>+3 :
            if year%400 == 0:
                total_days += 1
            elif year%100 == 0:
                total_days += 0
            elif year%4 == 0:
                total_days += 1
            else:
                total_days += 0
    return total_days

def dcheck(days,b):
    b += days
    rdays = b%7
    if rdays ==0:
        print('일요일')
    elif rdays ==1:
        print('월요일')
    elif rdays ==2:
        print('화요일')
    elif rdays ==3:
        print('수요일')
    elif rdays ==4:
        print('목요일')
    elif rdays ==5:
        print('금요일')
    else:
        print('토요일')


# 함수정의
year=int(input('년도 입력:'))
month=int(input('달 입력:'))
days=int(input('일 입력:'))

a = ycheck(year)
b = mcheck(month,a)
dcheck(days,b)

def date_cal():
    year=int(input('년도 입력:'))
    month=int(input('달 입력:'))
    days=int(input('일 입력:'))
    
    a = ycheck(year)
    b = mcheck(month,a)
    dcheck(days,b)
날짜계산 = date_cal()




날짜계산

In [ ]:
def date_cal():
    year=int(input('년도 입력:'))
    month=int(input('달 입력:'))
    days=int(input('일 입력:'))
    
    a = ycheck(year)
    b = mcheck(month,a)
    dcheck(days,b)
날짜계산 = date_cal()

날짜계산

# 성적처리 시스템

cal_total()
cal_avg()
cal_ord()
print_student(students)
print_cls() : 반평균, 각 과목별 평균

In [1]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

def cal_total(stus):
    for s in stus:
        s['total'] = s['kor'] + s['eng'] +s['math']

cal_total(students) 

def cal_avg(st):
    for s in st:
        s['avg'] = s['total']/3

cal_avg(students)
students

def cal_ord(st):
    sort_st=sorted(st, key=lambda x: x['avg'], reverse=True)
    for i, student in enumerate(sort_st, start=1):
        student['order'] = i

def print_cls(st):
    for i in range(len(st)):
        pcs=st[i]['avg']
    return pcs

def print_student(st):
    for i in range(len(st)):
        pst = st[i]['total']
    return pst

In [25]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

def cal_total(stus):
    for s in stus:
        s['total'] = s['kor'] + s['eng'] +s['math']
        
def print_cls1(st):
    mtotal=0
    for s in st:
        mtotal += s['total']
    return mtotal
    
def print_cls(t):
    pcs = t/3 
    return pcs

cal_total(students)
a = print_cls1(students)
b= print_cls(a)
c=b/3
print(f"{c:.1f}")

84.4

In [29]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]
def calc_total(stus) :
    for s in stus:
        s['total'] = s['kor'] +  s['eng'] +  s['math'] 

def calc_average(stus):
    for s in stus:
        s['avg'] = (s['kor'] +  s['eng'] +  s['math'])/3 

def calc_order(stus):
    
    for student in stus :  #students[0] 자료를 꺼낸 것이 student
        rank = 1
        for other in stus :
            if other['total'] > student['total'] :
                rank += 1
        student['order'] = rank
        #print(student['name'], student['order'])

def print_student(stus):
    for s in stus:
        print(f'이름: {s['name']} 국어: {s['kor']} 영어: {s['eng']} 수학: {s['math']} 등수: { s['order']}')

def print_class(stus):
#반평균
    class_avg =0

total = sum(student['total'] for student in students)
class_avg = total/len(students)

kor_avg =sum(student['kor'] for student in students)/len(students)
eng_avg = sum(student['eng'] for student in students)/len(students)
math_avg = sum(student['kor'] for student in students)/len(students)
#각 과목별 평균 출력
print(f'반평균: {class_avg} 국어: {kor_avg} 영어: {eng_avg} 수학: {math_avg}')

calc_total(students)
calc_average(students)
calc_order(students)
print_student(students)
print_class(students)

반평균: 0.0 국어: 86.66666666666667 영어: 81.66666666666667 수학: 86.66666666666667
이름: 김철수 국어: 90 영어: 80 수학: 85 등수: 2
이름: 박제동 국어: 90 영어: 85 수학: 90 등수: 1
이름: 홍길동 국어: 80 영어: 80 수학: 80 등수: 3

# 람다함수

선언 >> lambda <매개변수>: 코드
호출 >> (lambda <매개변수>: 코드 )(입력값)

In [ ]:
def aaa():
    result = a+1
    return result
lambda a :a+1

In [4]:
my_lambda = lambda a :a+1
my_lambda(5)

6

In [5]:
my_lambda(7)

8

In [ ]:
def sum1(a,b):
    return a+b
sum1(2,3)

In [6]:
(lambda a,b: a+b) (5,4)

9

In [7]:
def cal(a,b,func):
    result = func(a,b)
    return result

cal(4,8,lambda x,y:x+y)

12

In [8]:
# map함수
fruits = ['apple','cherry', 'banana']
# fruits[0].upper()
list(map(str.upper, fruits)) # 하나씩 꺼내서 지정한 동작을 적용

['APPLE', 'CHERRY', 'BANANA']

In [15]:
str_num='12345'
list(str_num)
numbers=list(map(int, str_num))
numbers

[1, 2, 3, 4, 5]

In [16]:
list(map(lambda x: x**2,numbers))

[1, 4, 9, 16, 25]

In [17]:
kor_score=[1,2,3]
eng_score=[4,5,6]
mth_score=[7,8,9]
list(map(lambda x,y,z: x+y+z,kor_score,eng_score,mth_score ))

[12, 15, 18]

In [18]:
kor_score=[1,2,3]
eng_score=[4,5,6]
mth_score=[7,8,9]
list(map(lambda x,y,z: (x+y+z)/3,kor_score,eng_score,mth_score ))

[4.0, 5.0, 6.0]

In [21]:
kor_score=[1,2,3]
eng_score=[4,5,6]
mth_score=[7,8,9]
list(map(lambda x: min(x),zip(kor_score,eng_score,mth_score) ))

[1, 2, 3]

# filter

In [1]:
# 리스트 컴프리헨션의 필터 
numbers = [1,2,3,4,5]

[x for x in numbers if x%2 == 0]

[2, 4]

In [2]:
# 필터함수
list(filter(lambda x: x%2==0, numbers))

[2, 4]

In [3]:
# numbers를 2배하고 그중에서 짝수를 리스트로 변환
list(filter(lambda x: x%2==0, map(lambda x:x*2,numbers)))

[2, 4, 6, 8, 10]

# sorted 함수

In [4]:
numbers=[5,4,6,7,8,3,1,9,2]
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
numbers=[5,4,6,7,8,3,1,9,2]
sorted(numbers, reverse=True)
numbers

[5, 4, 6, 7, 8, 3, 1, 9, 2]

In [9]:
numbers=[5,4,6,7,8,3,1,9,2]
num=sorted(numbers, reverse=True)
num

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
numbers1=[-3,1,5,-6,7,-8]
sorted(numbers1,key=abs) #abs는 절댓값으로

[1, -3, 5, -6, 7, -8]

In [16]:
words = ['apple','cherry','blueberry','banana']
sorted(words)

['apple', 'banana', 'blueberry', 'cherry']

In [17]:
sorted(words, key=len, reverse=True)

['blueberry', 'cherry', 'banana', 'apple']

In [18]:
#마지막 알파벳의 순서대로
sorted(words, key=lambda w:w[-1])

['banana', 'apple', 'cherry', 'blueberry']

In [19]:
# 튜플의 요소 기준 정렬
data = [(1,4),(2,3),(3,2)]
sorted(data, key=lambda w:w[-1])

[(3, 2), (2, 3), (1, 4)]

In [23]:
# 점수순
students = [('Alice',20,85),('Bob',22,90),('Charlie',21,78)]
sorted(students, key=lambda w:w[-1])

[('Charlie', 21, 78), ('Alice', 20, 85), ('Bob', 22, 90)]

In [22]:
# 나이순
sorted(students, key=lambda w:w[-2])

[('Alice', 20, 85), ('Charlie', 21, 78), ('Bob', 22, 90)]